[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vpython = "*"
colorlog = "*"
uuid = "*"
argparse = "*"
build = "*"
defaultstart = {path = "./packa2-test/dist/defaultstart-0.1.4.tar.gz"}

[dev-packages]

[requires]
python_version = "3.10"
